<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

<form action="{{'/trial')}}" method="POST">
    <h6 style='color:black;'> Credit Score </h6> <input type="number" name= 'Credit_Score' required='required'><br>
    <h6 style='color:black;'> Employment Length </h6> <input type="number" name= 'Emp_Length' required='required'><br>
    <h6 style='color:black;'> Debt to Income Ratio </h6> <input type="number" name= 'Debt_income_ratio' required='required'><br>
    <h6 style='color:black;'> Loan Amount </h6> <input type="number" name= 'Loan_Amount' required='required'><br>
    
    <button type="submit" class='btn'> Submit</button>
</form>

</body>
</html>